<aside class="flex flex-col sm:hidden bg-white_A700 border-solid pt-6">
  <div class="flex flex-row gap-[20px] p-[17px] w-[100%] items-center cursor-pointer">
    <img class="flex-shrink-0 sm:h-[20px] md:h-[24px] h-[26px] max-w-[100%] sm:w-[20px] md:w-[24px] w-[26px]"
      src="https://dhws-production.s3.ap-south-1.amazonaws.com/60d476bc92d3a3001575d2ee/60d47a1992d5640016253693/630386698d7e9c0015024759/appSource/images/img_home_25X25.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQODH4IWP7NVLCS23%2F20230119%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20230119T141642Z&X-Amz-Expires=25200&X-Amz-Signature=7da51fa5ef1ef11cedce0808fb0f1dadccf3a22258b7b2a90d8d5ed48d9d12fc&X-Amz-SignedHeaders=host"
      alt="Dashboard icon" />
    <p class="flex-grow font-inter font-medium text-[18px] text-bluegray_400 text-left">Dashboard</p>
  </div>
  <div class="flex flex-row gap-[20px] p-[17px] w-[100%] items-center cursor-pointer">
    <img class="flex-shrink-0 sm:h-[20px] md:h-[24px] h-[26px] max-w-[100%] sm:w-[20px] md:w-[24px] w-[26px]"
      src="https://dhws-production.s3.ap-south-1.amazonaws.com/60d476bc92d3a3001575d2ee/60d47a1992d5640016253693/630386698d7e9c0015024759/appSource/images/img_glyph.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQODH4IWP7NVLCS23%2F20230119%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20230119T150049Z&X-Amz-Expires=25200&X-Amz-Signature=341c17e5c2ab187c8d6ffbcc28e0609d2240fbc9fca2773962367adf2c925558&X-Amz-SignedHeaders=host"
      alt="Dashboard icon" />
    <p class="flex-grow font-inter font-medium text-[18px] text-bluegray_400 text-left">Transactions</p>
  </div>
  <div class="flex flex-row gap-[20px] p-[17px] w-[100%] items-center cursor-pointer">
    <img class="flex-shrink-0 sm:h-[20px] md:h-[24px] h-[26px] max-w-[100%] sm:w-[20px] md:w-[24px] w-[26px]"
      src="https://dhws-production.s3.ap-south-1.amazonaws.com/60d476bc92d3a3001575d2ee/60d47a1992d5640016253693/630386698d7e9c0015024759/appSource/images/img_file.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQODH4IWP7NVLCS23%2F20230119%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20230119T150049Z&X-Amz-Expires=25200&X-Amz-Signature=a554dba51508c2e39a17fe3742710aa56476063c6b004aaea13d3e13912ea00f&X-Amz-SignedHeaders=host"
      alt="Dashboard icon" />
    <p class="flex-grow font-inter font-medium text-[18px] text-bluegray_400 text-left">Credit Cards</p>
  </div>
</aside>
